* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'spartan', sans-serif;
}
html {
  scroll-behavior: smooth;
}
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 14px;
}

p {
  font-size: 16px;
  color: #465b52;
 
}

/* For Giveing Default padding to every Section */
.section-p {
  padding: 40px 80px;
}

/* For Giveing Default margin to every Section */
.section-m {
  margin: 40px 0;
}


body {
  width: 100%;
  overflow-x: hidden;

}

/* Header part */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e3e6f3;
  position: sticky;
  z-index: 100;
  left: 0;
  top: 0;


}



#logo {
  border: 2px solid rgb(231, 222, 222);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 20px 30px;
}

#navbar {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0px 20px;
  margin: 20px 10px;
}

#close {
  display: none;
}



#navbar li {
  padding: 0px 8px;
  list-style: none;



}

#navbar li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover {
  color: green;
  font-size: 19px;
  text-decoration: underline;
}

#mobile {
  display: none;
  align-items: center;
}

/* Home Page  */
#hero {
  background-image: url("./img/hero4.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 160px;
  padding-top: 0px;
  justify-content: center;

}

#hero h4 {
  padding-bottom: 20px;
 
}

#hero h1 {
  color: #088178;
  
}

#hero button {
  background-color: rgb(27, 27, 90);
  padding: 0.20em 1em;
  border-radius: 10px;
  color: white;
  margin-top: 1em;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease;
}
#hero button:hover{
  background-color: rgb(30, 30, 179);
  
}

#feature {
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;


}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 10px;
  border: 2px solid rgb(252, 244, 244);
  box-shadow: 20px 20px 35px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  margin-bottom: 10px;

}

.fe-box h6 {
  background-color: pink;
  margin-top: 20px;
  display: inline-block;
  padding: 3px 20px;
  text-align: center;
  color: #088178;
  border-radius: 4px;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #ffecc8;
}

#feature .fe-box:nth-child(3) h6 {
  background-color: #a6b7a6;
}

#feature .fe-box:nth-child(4) h6 {
  background-color: #bad9f3;
}

#feature .fe-box:nth-child(5) h6 {

  background-color: #b1a5f8;
}


#feature .fe-box:nth-child(6) h6 {
  background-color: rgb(233 233 43);
}

/* Product 1 design Summer Collection New Modern Design  */
#product1 {
  text-align: center;

}

#product1 .pro-main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



#product1 .temp {
  width: 320px;
  margin: 5px 0px;
  border: 1px solid #cce7d0;
  border-radius: 10px;
  padding-bottom: 10px;
  text-align: left;
  cursor: pointer;
  position: relative;

}

#product1 .temp img {
  width: 100%;
 user-select: none;
  border-radius: 10px;
}

#product1 .temp h6 {
  font-size: 13px;
  font-weight: 400;
  color: #606063;
  padding: 10px 10px;


}

#product1 .temp p {
  font-size: 13px;
  font-weight: 800px;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  padding: 0px 10px;


}

.star {
  color: #ffdf00;
  padding: 0px 10px;

}

#product1 .temp span {
  color: green;
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 10px;
}

.temp i {
  color: dark rgb(243, 181, 25);
  text-align: right;
  font-size: 12px;
}

#product1 .temp .cart {

  font-size: 20px;
  color: #088178;
  border: 1px solid #cce7d0;
  border-radius: 50px;
  background-color: #e8f6ea;
  padding: 5px;
  position: absolute;
  bottom: 10px;
  right: 20px;


}

/* Designing Banner */

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./img/banner/b2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#banner h2 {
  color: white;
  font-size: 25px;
  padding-bottom: 10px;

}

#banner h4 {
  color: white;
  font-size: 20px;
}

#banner span {
  color: red;
}

#banner button {
  color: white;
}

#banner .btn {
  font-size: 15px;
  font-weight: 600;
  padding: 0.25em 1em;
  color: #0d0e0d;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease;
}

#banner .btn:hover {
  background-color: #088178;

}

#sm-banner {
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;


}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: center;
  background-image: url("./img/banner/b17.jpg");
  width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;

}

#sm-banner .banner-box2 {
  background-image: url("./img/banner/b10.jpg");
}

#sm-banner h4 {
  font-size: 12px;
  color: white;
  font-weight: bold;

}

#sm-banner h1 {
  font-size: 15px;
  color: white;
  font-weight: bold;

}

#sm-banner p {
  font-size: 12px;
  color: white;
  font-weight: bold;
  padding-bottom: 20px;

}

#sm-banner button {
  width: 8.2em;
  height: 30px;
  border: 1px solid #cce7d0;
  border-radius: 5px;
  padding: 0 1em;
  background-color: transparent;
  color: white;

}

#sm-banner .banner-box:hover button {
  background-color: #088178;
  
}

/* News Latter Section Designing */
#newsletter {
  width: 100%;
  height: 40vh;
  margin: 10px;
  padding: 80px 0px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 2px;
  background-color: midnightblue;
  background-repeat: no-repeat;
  background-position: cover;

}

.newstext h4 {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.newstext p {
  font-size: 17px;
  color: rgb(211, 191, 191);
  font-weight: bold;
}

.newstext p span {
  color: rgb(253, 253, 5);
}

#newsletter .form {
  display: flex;
  width: 30%;

}

.form input {
  height: 40px;

  font-size: 13px;
  padding: 0 0.7em;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

}

.form button {
  height: 40px;
  font-size: 13px;
  width: 40%;
  background-color: #088178;
  border: 1px solid transparent;
  border-radius: 4px;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: white;

}

/* Styling Footer */
footer .logo {
  border: 2px solid rgb(231, 222, 222);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-bottom: 20px;

}

footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 20px;

}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
  margin: 10px;
  width: 300px;
}

footer h4 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

footer p {
  font-size: 15px;
  padding: 0 0 4px 0;
}

footer a {
  font-size: 15px;
  padding: 0 0 4px 0;
  text-decoration: none;
  color: #222;
}

footer .row img {
  border: 1px solid #088178;
  width: 100px;
  margin: 0 0 10px 0;
}


/* Desihning Shop.html */
#page-header {
  background-image: url("img/banner/b1.jpg");
  width: 100%;
  height: 40vh;
  padding: 80px;
  margin-bottom: 30px;
  background-size: cover;
  background-repeat: no-repeat;
}

#page-header h2,
#page-header p {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;

}

#pagination {
  text-align: center;
  align-items: center;
}

#pagination a {
  text-decoration: none;
  color: white;
  background-color: #088178;
  padding: 0.5em 1.5em;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bold;
}

/* SingleProductDetails.html design */

#sproductDetails {
  display: flex;

}

#sproductDetails .single-pro-image {
  width: 30%;
  margin-right: 40px;
  user-select: none;


}

#sproductDetails .single-pro-image .minImageGroup {
  display: flex;
  justify-content: space-between;

}

.minImage {
  flex-basis: 24%;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
}

#sproductDetails .signgleProDetails {
  width: 50%;
  padding-top: 40px;
}

.signgleProDetails h6 {
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;

}

.signgleProDetails h4 {
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: bold;

}

.signgleProDetails h3 {
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #088178;

}

.signgleProDetails select {
  display: block;
  margin-bottom: 20px;
  font-size: 13px;
  padding: 0.25em 1em;
  border-radius: 5px;
  outline: none;


}

.signgleProDetails input {
  width: 60px;
  height: 40px;
  font-size: 20px;
  padding: 5px 5px;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 50px;

}

.signgleProDetails button ,.userInput .form button{
  width: 150px;
  height: 40px;
  font-size: 20px;
  padding: 5px 10px;
  outline: none;
  background-color: #088178;
  color: white;
  border-radius: 5px;
}

.signgleProDetails span {
  line-height: 30px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Design Blog.html */

#page-header.blog-header {

  background-image: url("./img/blog/blogHead.jpg");
}

#blog {
  padding: 150px 150px 0px 150px;
}

#blog .blog-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#blog .blog-box .blogImg {
  width: 50%;
}

#blog .blog-box img {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;

}

#blog .blog-details {
  margin-left: 40px;

}

#blog .blog-details h4 {
  font-size: 20px;
  padding-bottom: 10px;
}

#blog .blog-details p {
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 10px;
}



/* Design about.html */

#page-header.about-header {
  background-image: url("./img/about/banner.png");

}

#about-main {
  display: flex;
  align-items: center;
  padding: 100px 0 0 100px;
}

#about-main img {
  width: 500px;
  height: auto;
}

#about-main .aboutDetails {
  padding-left: 30px;
}

.aboutDetails h2 {
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;

}

.aboutDetails p {
  color: gray;
  line-height: 20px;

}

#about-video {
  text-align: center;
}

#about-video .video {
  width: 70%;
  height: 70%;
  margin: 20px auto 0 auto;
}

#about-video video {
  width: 100%;
  height: 450px;

}

#about-video h2 {
  font-size: 40px;
  padding-bottom: 20px;
}

#about-video h2 a {
  text-decoration: none;
}

/* Design contact.html Page */
#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
 

}

#contact-details .details {
  width: 40%;

}

.details span, #form-details .userInput span {
  color: gray;
  font-size: 28px;
  font-weight: bold;
}

.details h2 , #form-details .userInput h2{
  font-size: 18px;
  color: #ccc;
  padding-bottom: 40px;
}

.details h3 {
  font-size: 20px;
  color: #088178;
  padding-bottom: 20px
}

.details li {
  list-style: none;
  display: flex;

}

.details li i {
  padding-right: 10px;
  font-size: 20px;
  padding-bottom: 10px;

}

.details li p {
  font-size: 15px;


}
#contact-details .map{
  width: 50%;
  height: 300px;
  
}
#contact-details .map iframe{
  width: 100%;
  height: 100%;
  
}

#form-details{
  display: flex;
  justify-content: space-between;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.03);
  padding: 10px;
  margin: 10px;
}
#form-details .userInput{
  width: 40%;
  padding-left: 20px;
}
#form-details .userInput .form{
  display: flex;
  flex-direction: column;


}
#form-details .userInput .form input,
#form-details .userInput .form textarea{
  
  background-color: #e1e1e1;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  justify-content: flex-start;
}
.userInput .form textarea{
  padding-left: 9px;
}
#form-details .people{
  margin-top: 60px;
  align-items: flex-start;
  margin-right: 60px;
}

#form-details .people div{
  display: flex;
 padding-bottom:20px ;
}
#form-details .people div img{
  object-fit: cover;
  margin-right: 20px;
}
#form-details .people div p span{
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #222;
}

#form-details .people div p{
  margin-top: 20px;
  color: gray;
}
/* Design Cart.html */
#cart table{
  width: 100%;
  border-collapse: collapse;
  
 
}
#cart table img{
  width: 70px;
}
#cart table thead{
  border: 1px solid #e1e9e6;
  border-left: none;
  border-right: none;
}
#cart table thead tr{
  font-size: 18px;
  font-weight: bold;
}
#cart table tbody tr td{
  padding-top: 10px;
}
#cart table tbody tr input{
  padding: 0.5em 1em;
  border-radius: 10px;
}
#cart-add{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#cart-add #coupon h3, #subTotel h3
{
  font-size: 20px;
  padding-bottom: 15px;

}
#cart-add #coupon input{
  width: 300px;
  padding: 0.5em 1.5em;
  border-radius: 10px;
  outline: none;
}
#cart-add #coupon button{
  background-color: #088178;
  height: 34px;
  width: 100px;
  border-radius: 10px;
  outline: none;
  color: white;
}
#cart-add  #subTotel{
  width: 50%;
  border: 1px solid #e1e9e6;
  padding: 30px;
}
#subTotel table{
  width: 100%;
  border-collapse: collapse;
}
#subTotel table  td{
  width: 50%;
  border: 1px solid #e1e9e2;
  padding: 10px;
  margin: 10px;
}
.b{
  background-color: #088178;
  margin-top: 30px;
  width: 150px;
  height: 40px;
  color: white;
  border-radius: 10px;
  padding: 0.5em;
}







/* Making Responsive Design With diffrent Devices
Start Of Media Query
*/
@media (max-width:799px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    top: -13px;
    right: -300px;
    height: 100vh;
    width: 200px;
    position: fixed;
    background-color: #e3e6f3;
    padding: 40px 0 0 10px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.03);

    transition: 0.3s ease;

  }

  #navbar.active {
    right: 0px;
  }

  #close {
    display: initial;
    position: absolute;
    top: 20px;
    left: 15px;
    font-size: 24px;
    color: #222;
  }

  #navbar li {
    margin-bottom: 10px;
  }

  #mobile {
    display: flex;
    align-items: center;
    padding-right: 20px;
    /* border: 2px solid black; */

  }

  #mobile i {
    color: #1a1a1a;
    font-size: 20px;
    padding: 10px 10px;
  }

  #remov {
    display: none;
  }

  /* Hero Section Design for ipad */
  #hero {

    height: 40vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 30px;
    justify-content: center;
  }

  /* Feture Section Design for ipad */
  #feature {

    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  #feature .fe-box {
    margin: 5px;
  }

  /* Feture product Section Design for ipad */

  #product1 .pro-main {

    justify-content: center;

  }

  #product1 .temp {
    width: 300px;
    min-width: 150px;
    margin: 5px;

  }

  /* Service Banner ipad style */
  #banner {

    width: 100%;
    height: 20vh;

  }

  /* i pad styles for sm banner */
  #sm-banner .banner-box {


    justify-content: center;

    width: 100%;
    height: 30vh;
    margin-bottom: 5px;
  }

  /* ipad Style for NewsLetter */

  #newsletter {
    width: 100%;
    height: 20vh;
    margin: 10px;
    justify-content: center;

  }

  #newsletter .form {
    width: 50%;
    padding-top: 10px;
  }

  /* Blog design for i pad */
  #blog {
    padding: 20px 20px 0px 30px;
  }
}


/* Design For Mobile Device  */

@media (max-width:477px) {
  .section-p {
    padding: 20px;
  }

  #hero {

    height: 30vh;
    width: 100%;
    background-position: top 25% right -20px;
    padding: 3px 3px;

  }

  h2,
  h1 {
    font-size: 1em;
  }

  p {
    font-size: 0.85em;
  }

  #feature .fe-box {
    width: 150px;

  }

  #product1 .temp {
    width: 90%;
  }

  #banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/banner/b2.jpg);
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #newsletter {
    width: 90%;
    height: 30vh;


  }

  /* blog Design for Mobile */
  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  #blog .blog-box img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }

  /* Design For Mobile contact.html */
  #contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
  #contact-details .details {
    width: 100%;
}
#contact-details .map {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}
#form-details {
  
  flex-direction: column;
  justify-content:flex-start;
  padding: 0px;
  margin: 0px;
}
#form-details .userInput {
  width: 100%;
  padding-left: 10px;
}
#form-details .people div {
  display: flex;
  padding: 20px;
}

}